<html>
  <head>
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <ul>
      <%= @words_found%><br>
      <%= @definition_found%>
    </ul>
    <a href="/"> Back </a>
  </body>
</html>
